
%btn-sm {
  padding: .5em 2em;
}


.btn-custom {
  @extend .btn;
  @extend %btn-sm;
  @include borders-1();
  background-color: white;
  color: $color-1;
  &:hover {
    background-color: $color-1;
    color: white;
  }
  &-blue {
    @extend .btn;
    @extend %btn-sm;
    background-color: $color-1;
    color: white;
    &:hover {
      background-color: $color-2;
    }
  }
}
