$color-1: #2699FB;
$color-2: #BCE0FD;

$min-font-size: 10px;

$borders: (
  ("strong-sm", $color-1, 2px),
  ("strong-xs", $color-1, 1px),
  ("light-sm", $color-2, 2px),
  ("light-xs", $color-2, 1px))
